* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans";
}
body {
    background: url(./pexels-dmitry-demidov-515774-3921045.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    color: #fff;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    left: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}
.nav {
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.nav__link {
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    transition: opacity .2s linear;
}
.nav__link:hover {
    opacity: 1;
}
.logo {
    border: 2px solid none;
    border-radius: 50px;
}
.btn {
    display: flex;
    font-size: 17px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
}
.intro {
    padding: 150px 100px 0;
}
.box {
    margin-bottom: 50px;
}
.film {
    display: flex;
    height: 600px;
    background: transparent;
    backdrop-filter: blur(40px);
    border: 2px solid none;
    box-shadow: 0 0 10px 7px white;
    border-radius: 25px;
    padding: 10px;
}
.photo {
    margin-right: 20px;
    border: 1px solid none;
    border-radius: 25px;
}
.text {
    display: flex;
    flex-direction: column;
    font-style: italic;
}
.text h1 {
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}
.text h2 {
    color: #fff;
}
.text p {
    color: #fff;
    text-align: justify;
    font-size: 18px;
} 
.video {
    display: flex;
    height: 400px;
    width: 570px;
}
.video iframe {
    margin-top: 50px;
    border:none;
    border-radius: 25px;
    height: 290px;
}
.card-container {
    display: flex;
    border: 1px solid none;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    padding: 20px;
    box-shadow: 0 0 10px 7px white;
    justify-content: center;
}
.card {
    margin-right: 30px;
}
.card:last-child {
    margin-right: 0;
}
.card-photo {
    border-radius: 25px;
    height: 270px;
}
.name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.comments {
    color: #fff;
    backdrop-filter: blur(40px);
    border: none;
    box-shadow: 0 0 10px 7px;
    border-radius: 25px;
    height: 500px;
    padding: 10px;
}
.cmt-1 {
    display: flex;
    width: 700px;
    border-radius: 25px;
    background: rgb(3, 140, 42);
    height: 100px;
    line-height: 30px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.text-cmt {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}
.cmt-2 {
    display: flex;
    margin-left: 600px;
    width: 700px;
    border-radius: 25px;
    background: rgb(108, 14, 209);
    height: 100px;
    line-height: 30px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.cmt-3 {
    display: flex;
    width: 700px;
    border-radius: 25px;
    background: rgb(209, 66, 14);
    height: 100px;
    line-height: 30px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.cmt-4 {
    display: flex;
    margin-left: 600px;
    width: 700px;
    border-radius: 25px;
    background: rgb(24, 14, 209);
    height: 100px;
    line-height: 30px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.stars {
    border-radius: 25px;
    box-shadow: 0 0 10px 7px white;
    backdrop-filter: blur(40px);
    padding: 20px;
}
.stars-1 {
    color: rgb(91, 235, 91);
    font-size: 40px;
}
.stars h2 {
    color: #fff;
}
.stars p {
    color: white;
}
.stars-option {
    display: flex;
    margin-bottom: px;
}
.radio {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    color: #fff;
}